#chatBody, #sendMessage{
    position: relative;
    overflow-x: hidden;
}

#chatBody{
    max-height: 60%;
}

#dummy{
    color: white;
    font-size: 50px;
}
.chatHead {
    background-color: lightgrey;
}

#text {
text-align: center;
font-size: large;
}

