#editForm {
    display: none;
}

.questionSettings {
    display: none;
}

#questionCard {
    width: 80%;
    margin: 2%;
}

#commentSec {
    width: 80%;
    border-top: 1px solid lightgray;
    border-top-width: thin;
    border-bottom: 1px solid lightgray;

}

#commenter {
    font-weight: bold;
}